@import '../../../../main-styles.scss';

.container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-family: 'Lato';

    .income, .expense {
        max-width: 290px;
        width: 100%;
        margin: 0 5px 0 5px;
        text-align: center;
    }

    .green {
        color: $green;
        font-size: 25px;
        font-weight: 900;
    }

    .red {
        color: $red;
        font-size: 25px;
        font-weight: 900;
    }

}